<html>
    <head>
        <title>Responsive Layout</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <header>
        <div class="header">
        <h1>Nicholas Prober</h1>
        <nav>
            <ul>
                <li class="container">HOME</li>
                <li class="container">PORTFOLIO</li>
                <li class="container">CONTACT</li>
            </ul>
        </nav>
        <img src="images/self.jpeg" class="centerimg">
        <p class="paragraph1"> Hello! I am currently working on the Treehouse Front-End Tech Degree. I am hoping
            to complete the course within 5 months and hopefully be able to land a job as I work towards
            my second Tech Degree for Full-Stack. Brighter future ahead!</p>
        </div>
    </header>
<body>
 <h2>PORTFOLIO</h2>

    <div class="container">
    <img src="images/portfolio-1.png">
        <h3>Marketing Page</h3>
        <p>This project shows the front page of a marketing website meant 
            for a specific business I'm interested in</p>
    </div>
    <div class="container">
        <img src="images/portfolio-2.png">
        <h3> Search Page</h3>
        <p>This project searches through a specific database to find
            information that the user is trying to lookup.
        </p>
    </div>
    <div class="container">
        <img src="images/portfolio-3.png">
        <h3>Travel App</h3>
        <p>This project compares travel times based on different transportation methods
            and tellls you the best one. </p> 
    </div>
    <div class="container">
        <img src="images/portfolio-4.png">
        <h3>Map of Favorite Spots</h3>
        <p>This project uses mapping apis to plot points for my favorite spots in
            the city for a do-it-yourself walking tour.</p>
    </div>
    <div class="container">
        <img src="images/portfolio-5.png">
        <h3>Photo Gallery</h3>
        <p>This project shows pictures from a recent trip to the viewer and
            allows them to easily navigate through the photos.</p>
    </div>
    <div class="container">
        <img src="images/portfolio-6.png">
        <h3>Calculator</h3>
        <p>Someone can enter in the numbers they want, and press the big blue
            button and get the result.</p>
    </div>
    <footer>
        <h2> Contact</h2>
        <p>If you are interested in chattting and seeing what I am
            currently working on, Feel free to reach out to me!</p>
        <h3>Phone</h3>
        <h3>Email</h3>
    </footer>

</body>








</html>